<h1 align="center">Alliar</h1>  

<p align="center">Seja bem-vindo, por gentileza seleciona uma das opcoes:</p>

<h3 align="center"><%= link_to 'Laboratórios', laboratorios_path %></h3>
<h3 align="center"><%= link_to 'Exames', exame_medicos_path  %></h3>

